/*RESPONSIVE-TOPNAV*/
body {
    margin: 0; /*margin is the outer part of border*/
    font-family: Arial, Helvetica, sans-serif;/*font-family is used for font style we want to apply*/
  }
  
  .topnav {
    overflow: hidden;/*overflow is used to hide the extra content of the text etc.*/
    background-color: #FCA311;/*used to color the background of container we specified*/
  }

  /*logo*/
  .logo {
    position: relative;
    top: 0px;
    right: 15px;
    float: right;
    padding: 0px;
    margin: 0px;
  }
  .logo h2{
    padding-top: 9px;
    margin: 0px;
  }
  @media screen and (max-width: 450px) {
    .logo {
      display: none !important;
    }
    .logo h2 {
      display: block;
    }
  }
  
  .topnav a {
    float: left;/*float is used to move the container either left side or right side*/
    display: block;/*used to display on new line and by default contain all width of screen and we can manage height and width manually*/
    color: #f2f2f2;/*used to add color to container*/
    text-align: center;/*used to align text center left right*/
    padding: 14px 16px;/*border inside part is padding we can change it left right top and bottom manually*/
    text-decoration: none;/*it specify text we need with decoration or not*/
    font-size: 17px;/*it allow use to manage the size of font*/
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: black;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px)/*media quirey is used to make website responsive on different devices*/ {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .logo {
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;/*position is used to specify the child container position with respect to parent*/
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  /*SIDE-NAVIGATION*/
  body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;/*trnasition is used to add animation in web pages with control over a time*/
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /*SLIDESHOW*/
  * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}


img {vertical-align: middle;}

/*section*/
section {
  border: 18px solid black;
  margin: 0px;
  padding: 0px;
}

/* Slideshow container */

/*slideshow responsiveness*/
@media only screen and (max-width: 450px){
  section {
    width: 100%;
    height: fit-content;
    border: none;
    margin: 0px !important;
    padding: 0px !important;
    display: flex;
    flex-direction: column-reverse;
   
  }
  .slideshow-container {
    width: 100% !important;
    border: none !important;
    position: relative;
    float: inline-start;
    left: 0;
    margin-bottom: 80px;
  }
  .img1 {
    width: 100% !important;
    border: none;
    border-radius: 0px !important;
    margin-top: -100px;
  }
  .myslides {
    width: 100% !important;
  }
  .left-design{
  padding-top: 10px !important;
  padding-left: 0px;
  width: 100% !important;
  height: 400px !important;
  }
  .left-design h3 {
    font-size: 10px !important;
    padding: 0px !important;
  }
  .left-design h1 {
    font-size: 24px !important;
    margin: 0% !important;
  }
  .left-design .star {
    padding: 0% !important;
    margin: 0%;
  }
  .left-design p {
    font: 5px;
    padding: 0% !important;
  }
  .dots {
    display: none !important;
  }
  .mini-img{
    display: none;
  } 
  .mini-img img{
    display: none;
  }
}
.slideshow-container {
  width: 500px;
  border: 11px solid black;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  position: relative;
  top: 80px;
  right:60px;
  float: right;
}

.left-design {
  padding-top: 40px;
  padding-left: 20px;
  float: left;
  width: 900px;
  background-color: #FCA311;
  height: 75vh;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.left-design h3 {
  color: #111;
  margin: 0px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.left-design h1 {
  color: #111;
  margin: 0px;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 150px;
}
 
/*mini-img*/
.mini-img {
  margin-top: 50px;
  padding-left: 6px;
  display: flex;
  height: 60px;
  width: 90px;
}
.mini-img img {
  border: 3px solid black;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 50px;
  height: 60px;
  width: 90px;
  box-shadow: rgba(31, 31, 31, 0.468) 0px 10px 20px, rgba(31, 31, 31, 0.468) 0px 6px 6px;
}


/*button*/
.btn {
  margin-bottom: 20px;
  width: 90px;
  height: 45px;
  border-radius: 14px;
  border:none;
  color: white;
  background-color: red;
  padding: 5px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}


/*image*/
.img1 {
  width: 38%;
  height: 350px;
  border-top-left-radius: 26px;
  border-bottom-right-radius: 26px;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  margin-left: 30%;
  bottom: 8px;
  width: 40%;
  text-align: center;
  color: brown;
  background-color: #f1f1f1;
  border-radius: 18px;
  box-shadow: rgba(31, 31, 31, 0.468) 0px 10px 20px, rgba(31, 31, 31, 0.468) 0px 6px 6px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dots {
  margin-left: 1110px;
  margin-bottom: 45px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-top: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*parallex site*/
body, html {
  height: 100%;
}

.parallax1 , .parallax2 , .parallax3 {
  opacity: 0.7;

  /* Full height */
  height: 100%; 
  width: auto;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax1 {
   /* The image used */
   background-image: url('Hells🖤\ on\ Twitter.jpg');
}
.parallax3 {
   /* The image used */
   background-image: url('Demon\ Slayer_\ Kimetsu\ no\ Yaiba\ collab\ with\ White\ Cat\ Project.jpg');
}
.parallax2 {
  background-image: url('Jujutsu\ kaisen.jpg');
}

/*caption*/
.caption {
  background-color: black;
  color: white;
  position: relative;
  top: 47%;
  left: 47%;
  width: 150px;
  height: 40px;
  padding-top: 10px;
  padding-left: 32px;
}
@media only screen and (max-width: 450px) {
.parallax2 .caption  {
   position: relative;
   left: 155px;
  }
  .parallax1 .caption  {
    position: relative;
    left: 155px;
   }
}

/*about-us*/
.about-us {
  border-top: 15px solid black;
  border-bottom: 15px solid black;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #FFC529;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}
.about-us1 {
  width: 70%;
}
.about-us1 h3 {
  text-align:center;
   font-size: 30px;
}
.about-us1 p {
  font-size: 16px;
}
.about-us2 {
  position: relative;
  float: right;
  width: 30%;
}
.about-us2 img {
  border: 10px solid white;
  border-top-left-radius: 24px;
  border-bottom-right-radius: 24px;
  width: 70%;
  float: right;
}
@media only screen and (max-width: 450px) {
  .about-us {
    display: flex;
    flex-direction: column-reverse;
    padding: 4px;
    margin: 0px;
  }
  .about-us1 {
    width: 450px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
  }
  .about-us1 h3 {
    font-size: 30px;
    text-align: center;
  }
  .about-us1 p {
    font-size: 10px;
  }
  .about-us2 {
    width: 80%;
  }

}


/*our team section*/
.card-box {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: auto;
}
.card {
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 184px;
  margin-bottom: 30px;
  transition: 0.5s;
}
.card:hover {
  border-radius: 24px;
  background-color: #FCA311;
  color: white;
  transform: scale(1.1);
  box-shadow: rgba(31, 31, 31, 0.468) 0px 10px 20px, rgba(31, 31, 31, 0.468) 0px 6px 6px;
}
.card-img {
  border-radius: 20px;
  width: 200px;
  height: 200px;
}
.card-img img {
  border-radius: 20px;
  width: 100%;
}

.card-info {
  margin-left: 20px;
  width: 60%;
}
.card-info p {
  font-size: 12px;
}
@media only screen and (max-width: 450px){
  .card-box {
    display: flex;
    flex-direction: ro;
  }
  .card {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 163px !important;
    margin-bottom: 30px;
    transition: 0.5s;
  }
  .card-info h4 {
    font-size: 14px;
    margin: 0%;
  }
  .card-info p {
    font-size: 11px;
  }
}

/*contact-map-section*/
.container {
  background: #F8F8F8;
  width: 900px;
  height: 650px;
  margin: 5% auto;
  box-shadow: 0px 0px 10px #C8C7D9;
  position: relative;
  overflow: hidden;
}
.container .map {
  width: 45%;
  float: left;
}
.container .contact-form {
  width: 53%;
  margin-left: 2%;
  float: left;
}
.container .contact-form .title {
  font-size: 2.5em;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  color: #242424;
  margin: 5% 8%;
}
.container .contact-form .subtitle {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 4% 5% 8%;
}
.container .contact-form input,
.container .contact-form textarea {
  width: 330px;
  padding: 3%;
  margin: 2% 8%;
  color: #242424;
  border: 1px solid #B7B7B7;
}
.container .contact-form input::placeholder,
.container .contact-form textarea::placeholder {
  color: #242424;
}
.container .contact-form .btn-send {
  background: #A383C9;
  width: 180px;
  height: 60px;
  color: #F8F8F8;
  font-weight: 700;
  margin: 2% 8%;
  border: none;
}

@media only screen and (max-width: 450px){
  .container{
    margin: 0%;
    padding: 0%;
    width: 450px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .container .map  {
    width: 100% !important;
    overflow: hidden;
  }
  .contact-form{
    align-items: center;
  }
}
